/**
 * Styles for SpreadsheetOnboarding component
 */

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
    color: var(--vscode-foreground);
    font-family: var(--vscode-font-family);
}

h2 {
    margin: 0;
    font-weight: 500;
    font-size: 1.5em;
}

p {
    margin: 0;
    opacity: 0.8;
    max-width: 400px;
    text-align: center;
    line-height: 1.5;
}

.icon-container {
    font-size: 4rem;
    opacity: 0.5;
}