/**
 * Styles for SplitView component
 */

:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:host([direction='vertical']) {
    flex-direction: column;
}

:host([direction='horizontal']) {
    flex-direction: row;
}

.child-wrapper {
    position: relative;
    overflow: hidden;
}

.resizer {
    background-color: var(--vscode-widget-border);
    z-index: 10;
}

:host([direction='horizontal']) .resizer {
    width: 4px;
    cursor: col-resize;
}

:host([direction='vertical']) .resizer {
    height: 4px;
    cursor: row-resize;
}
